.bg-info {
    background-color: #17A2B8 !important;
}
.text-info{
	color: #8bd1dc;
}
.bg-purple {
    background-color: #6f42c1;
}
.text-purple{
    color: #b7a1e0;
}
.bg-teal {
    background-color: #1CAF9A;
}
.text-teal{
	color: #8ed7cd;
}
.bg-primary {
    background-color: #0866C6 !important;
}
/*.element-box{
	overflow: hidden;
}*/
.rickshaw_graph{
	    transform: translateY(-4px);
}
.rickshaw_graph svg:not(:root) {
    overflow: visible;
}
.rickshaw_graph {
    position: relative;
}
.box-content-wrapper{
	padding: 15px 15px 0 15px;position: relative;
}
.text-rgb{
	color: rgba(0,0,0,0.4);
}
.school-icon {
    font-size: 50px !important;
    position: absolute;
    right: 15px;
    top: 15px;
    color: #fff;
    opacity: .7;
}
.user-icon {
    font-size: 50px !important;
    position: absolute;
    right: 15px;
    top: 15px;
    color: #fff;
    opacity: .7;
}
.user-icon-2 {
    font-size: 50px !important;
    position: absolute;
    right: 15px;
    top: 15px;
    color: #fff;
    opacity: .7;
}
.tx-white-8 {
    color: rgba(255, 255, 255, 0.8) !important;
}
/*.mobile-nav-style{
	background: #fff;text-align: center;
}*/
.menu-mobile ul.main-menu>li .icon-w {
    padding: 15px 5px !important;
}
.element-box{
	overflow: scroll;
}
a.el-tablo.element-box{
	overflow: hidden;
}
@media(max-width: 767px){
	.top-bar.color-scheme-transparent{
		display: grid;
    grid-template-columns: repeat(2,1fr);padding: 5px 0;
	}
	.top-bar-heading{
		margin-right: 0;font-size: 14px;text-align: left;
	}
	.logged-user-w.avatar-inline .logged-user-i .logged-user-info-w {
    padding-left: 6px;
    text-align: left;
    padding-right: 30px;}
    .menu-mobile ul.main-menu {
    padding: 0 17px !important;}
    .menu-mobile.color-scheme-dark ul.main-menu>li{
    	text-align: left;
    }
    .menu-mobile ul.main-menu>li .icon-w{
    	padding: 10px 0 0 !important;display: inline-block;
    }
    .sub-menu-header{
    	font-size: 14px;padding-bottom: 5px;
    }
    .menu-mobile ul.main-menu>li .icon-w{
    	font-size: 18px;
    }
    .menu-mobile.color-scheme-dark ul.main-menu>li>a{
    	display: inline-block;width: 100%;
    }
    .fc-center ,   .fc-center h2{
    	width: 100%;text-align: center;font-size: 20px;
    margin-top: 10px;
    }
    .menu-mobile .mm-logo-buttons-w{
    	padding: .4rem 1rem;
    }
    .top-bar .top-menu-controls{
    	padding: 0;
    }
    .menu-mobile.color-scheme-dark .mm-logo-buttons-w span{
    	text-transform: uppercase;
    }
   /* .fc td, .fc th{
    	width: 130px;
    }*/
}
